.col-sm-10 {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center ;
}

.container-fluid {
    height: 50px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: thin;
}


